/node_modules
/public/hot
/public/storage
/public/local-uploads/*
/public/css/app.css
/public/sitemap.xml
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
.idea
.eslintignore
