/node_modules
/public/hot
/public/storage
/public/local-uploads/*
/public/sitemap.xml
/storage/*.key
/vendor
.env
.env.testing
.env.backup
/public/build/manifest.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
.idea
.eslintignore
