#app .wow {
	visibility: hidden;
}

html {
    height: 100vh;
}

/* Extra leaflet styles */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.leaflet-pane .leaflet-shadow-pane {
    display: none;
}

.leaflet-popup-content {
    width: 180px !important;
}

.leafet-popup {
    left: -106px !important;
}
/* End extra leaflet styles */

.locations-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 72px);
}

.app-icon {
	cursor: pointer;
	max-height: 10em;
	margin-top: -2em;
	margin-bottom: -2em;
}

.country-back {
    font-size: 0.3em;
    margin: auto 0;
    padding-right: 1em;
}

.error {
    color: #e74c3c;
    font-weight: 600;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.fullheight {
	min-height: calc(100vh - 82px);
}

.h100 {
    height: 100%;
}

.hov {
	transition-duration: 0.3s;
}

.hov:hover {
	box-shadow: 0 20px 30px -11px rgba(31,35,65,0.37);
	transform: translate(0px, -5px);
}

.is-black {
    color: black !important;
}

.is-green {
    color: green;
}

.is-red {
    color: red;
}

.jc {
    justify-content: center;
}

.leaflet-popup-close-button  {
    display: none !important;
}

.ma {
	margin: auto;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb-05 {
    margin-bottom: 0.5em;
}

.mb1 {
    margin-bottom: 1em !important;
}

.mb1-5 {
    margin-bottom: 1.5em !important;
}

.mb1em {
	margin-bottom: 1em !important;
}

.mb2 {
	margin-bottom: 2em !important;
}

.mb2r {
	margin-bottom: 2rem !important;
}

.mb3 {
	margin-bottom: 3em !important;
}

.mb5 {
    margin-bottom: 5em;
}

.mb5em {
	margin-bottom: 5em !important;
}

.ml1 {
    margin-left: 1em;
}

.mr1 {
    margin-right: 1em;
}

.mt1 {
    margin-top: 1em;
}

.mt2 {
    margin-top: 2em;
}

.mt3 {
    margin-top: 3em;
}

.mt4 {
    margin-top: 4em;
}

.mt5 {
    margin-top: 5em;
}

.mt5em {
	margin-top: 5em !important;
}

.mtba {
    margin: auto 0;
}

.mtb1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.p2 {
    padding: 2em !important;
}

.pb1 {
    padding-bottom: 1em;
}

.pb1em {
	padding-bottom: 1em;
}

.pb2 {
    padding-bottom: 2em !important;
}

.pointer {
    cursor: pointer;
}

.pl3 {
    padding-left: 3em;
}

.pr1em {
	padding-right: 1em;
}

.pr2em {
	padding-right: 2em;
}

.pt0 {
    padding-top: 0 !important;
}

.pt1 {
    padding-top: 1em;
}

.pt2 {
    padding-top: 2em;
}

.pt3 {
    padding-top: 3em;
}

.pt7 {
    padding-top: 7em;
}

.search-fixed-height {
    max-height: 18em;
    overflow-y: auto;
}

.show-mobile {
	display: none;
}

.suggest-item {
    color: #363636 !important;
}

.vfc-main-container {
    width: 21em !important;
}

.vh100 {
    height: 100vh;
}

.vh65 {
    height: 65vh;
}

.vue-simple-suggest.designed .input-wrapper input {
    color: #363636 !important;
}

.w10 {
    width: 10em;
}

.w100 {
    width: 100%;
}

/* Desktop view */
@media (min-width: 1024px)
{
	.navbar-item {
		color: white;
	}
}

/* Mobile view */
@media (max-width: 1024px)
{
	.navbar-item {
		color: black;
	}
}

/* Mobile view */
@media (max-width: 768px)
{
    .app-icon {
        max-height: 9em !important;
    }

	/* Profile - LitterPicker */
	.pagination {
		display: flex;
	}

	.page-item {
		flex: 1;
	}

	#image-metadata, #image-counts {
		display: none;
	}

	.expand-mobile {
		flex: 1;
	}

	.mobile-litter-box {
		width: 50%;
		margin-left: 25%;
	}

	#photo-id {
		display: none;
	}

	.show-mobile {
		display: block;
	}
}
