@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

@layer utilities {
    .hov {
        @apply transition duration-300;
    }

    .hov:hover {
        box-shadow: 0 20px 30px -11px rgba(31, 35, 65, 0.37);
        transform: translate(0px, -2px);
    }
}

@layer components {

    #app { @apply h-full }

    .main-title {
        @apply
            text-4xl
            font-extrabold
            text-[#363636]
            leading-[1.125]
            mb-[1em];

        @screen md {
            @apply text-6xl;
        }
    }

    .main-subtitle {
        @apply
            text-2xl
            text-[#4a4a4a]
            leading-[1.5];

        @screen md {
            @apply text-4xl;
        }
    }

    .why-how-title {
        @apply
            text-3xl
            text-[#4a4a4a]
            font-bold
            leading-[1.5]
            mb-[0.5em];
    }

    .why-how-text {
        @apply
            text-3xl
            text-[#4a4a4a]
            leading-[1.5]
            mb-[1em];
    }

}
